.calculator {
    padding: 100px 0;
    box-sizing: border-box;
    position: relative;
    background-color: $sea;
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;
        background-image: url(assets/imgs/calc-deocr.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
    }
    // .calculator__text

    &__text {
        position: relative;
        z-index: 1;
        h2 {
            margin: 0;
            display: block;
            color: $black;
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 35px;
            font-family: $inter;
        }
    }

    // .calculator__items

    &__items {
        display: flex;
        align-items: stretch;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    // .calculator__item

    &__item {
        background-color: transparent;
        box-sizing: border-box;
        padding: 15px 30px;
        text-align: center;
        border: 2px solid $pink;
        color: $black;
        font-size: 24px;
        font-family: $inter;
        font-weight: 600;
        line-height: normal;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            background-color: $blue;
            color: #fff;
            border-color: $blue;
        }
    }

    // .calculator__list

    &__list {
        margin-bottom: 20px;
        select {
            padding: 12px;
            width: 100%;
            max-width: 340px;
            box-sizing: border-box;
            font-family: $black;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            option {
                &:first-child {
                    display: none;
                }
            }
        }
    }

    // .calculator__range

    &__range-wrap{
        display: block;
        position: relative;
        width: 100%;
        max-width: 500px;
        margin-bottom: 40px;
        .calc__text {
            margin-bottom: 0;
        }
        .irs-line {
            background: rgba(45, 61, 138, 0.70);
            height: 9px;
        }
        .irs--flat .irs-bar {
            background: #2D3D8A;
            height: 9px;
        }
        .irs-from, .irs-to, .irs-single{ 
            top: 45px;
            background-color: transparent;
            padding: 0;
            font-size: 16px;
            transform: translateX(-3px);
            color: $black;
            &::after {
                content: ' м.';
                font-size: 14px;
                font-family: $inter;
                color: $black;
            }
            &::before {
                display: none;
            }
        }
        .irs-min, .irs-max {
            display: none;
        }
    }
    &__range {
        
        
    }

    // .calculator__total

    &__total {
        display: flex;
        max-width: 500px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
        span {
            display: block;
            font-size: 36px;
            color: #000;
            font-weight: 700;
            &:first-child {
                margin-right: 15px;
            }
        }
    }

    // .calculator__number

    &__number {
    } 

    // .calculator__action

    &__action {
        max-width: 500px;
        a {
            display: block;
            width: 100%;
            font-size: 24px;
            padding: 15px;
        }
    }
}
.container {
}
.active {
}
.calc {

    // .calc__text


    &__text {
        margin: 0;
        display: block;
        color: #000;
        font-weight: 700;
        font-size: 20px;
        font-family: $inter;
        margin-bottom: 10px;
    }
}
.main-btn {
}

@media(max-width:768px) {
    .calculator {
        padding: 70px 0;
        &__text {
            h2 {
                margin-bottom: 50px;
                line-height: .95;
            }
        }
        &__items {
            flex-wrap: wrap;
            margin-bottom: 5px;
            button {
                font-size: 18px;
                margin-bottom: 15px;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__list {
            select {
                max-width: none;
            }
        }
        &__range-wrap {
            max-width: none;
        }
        &__total {
            max-width: none;
        }
        &__action {
            max-width: none;
        }
    }
}

@media(max-width:560px) {
    .calculator {
        padding: 35px 0;
        &__text {
            h2 {
                font-size: 28px;
                color: $black;
                margin-bottom: 12px;
            }
        }
        &__items {
            flex-direction: column;
            button {
                margin: 0 0 10px !important;
                font-size: 15px;
                padding: 8px 10px;
                width: fit-content;
            }
        }
        .calc__text {
            font-size: 14px;
            margin-bottom: 10px;
        }
        &__list {
            select {
                font-size: 12px;
                padding: 10px 15px;
            }
        }
        &__range-wrap {
            .calc__text {
                margin-bottom: 0f;
            }
        }
        &__action {
            a {
                font-size: 20px;
                padding: 8px 10px;
            }
        }
        &__total {
            span {
                font-size: 24px;
            }
        }
    }
}