.feedback {
    padding: 80px 0;
    box-sizing: border-box;
    position: relative;
    // .feedback__title 
    background-color: $sea;

   &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        margin: 0 15px;
        border: 2px solid #fff;
        cursor: pointer;
        border-radius: 3px;
        svg {
            max-width: 100%;
            display: block;
        }
        &.feedback-prev {
            svg {
                transform: rotate(180deg);
            }
        }
    }
   }
    &__title {
        margin-bottom: 40px;
        h2 {
            display: block;
            margin: 0;
            font-family: $inter;
            font-size: 40px;
            text-align: center;
            color: $black;
        }
    }

    // .feedback__slider

    &__slider {
        width: calc(100% - 70px);
        padding: 15px;
    }

    // .feedback__slider-wrapper

    &__slider-wrapper {
    }

    // .feedback__slider-slide

    &__slider-slide {
        box-sizing: border-box;
        padding: 20px 20px 50px;
        background-color: #fff;
        
        position: relative;
        filter: drop-shadow(4px 0px 11px rgba(0, 0, 0, 0.10)) drop-shadow(-4px 0px 4px rgba(0, 0, 0, 0.10)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 36px;
            background-color: $blue;
            width: 100%;
            opacity: .7;
            
        }
        .img {
            margin-bottom: 15px;
            height: 330px;
            display: block;
            position: relative;
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
            &::before {
                content: '';
                pointer-events: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 57px;
                height: 57px;
                background-image: url(assets/imgs/play.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                z-index: 10;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .35s ease;
            }
        }
        .text {
            p {
                margin: 0;
                font-family: $inter;
                color: $black;
                font-size: 20px;
                margin-bottom: 5px;
            }
            span {
                display: block;
                color: $black;
                font-size: 16px;
                display: block;
            }
        }
    }
}

@media(max-width:768px) {
    .feedback {
        padding: 65px 0 80px;
        &__slider-slide {
            
        }
    }
}
@media(max-width:560px) {
    .feedback {
        padding: 20px 0 40px;
        &__title {
            margin-bottom: 10px;
            h2 {
                font-size: 28px;
                color: $black;
            }            
        }
        &__slider {
            width: calc(100% - 30px);
        }
        &__slider-slide {
            padding: 10px 10px 30px;
            &::before {
                height: 25px;
            }
            .img {
                &::before {
                    width: 30px;
                    height: 30px;
                }
                height: 180px;
                margin-bottom: 5px;
                
            }
            p {
                font-size: 14px;
            }
            span {
                font-size: 12px;
            }
        }
    }
}